body {
    font-family: "Montserrat", sans-serif;
    background-color: #efefef;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
  


header{
    background-color: #364552;
    color:white;
    padding: 1rem 2rem;
    width:100%;
}
header h1{
    font-size: 4rem;
    margin-left: 3rem;
}
.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.user-button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    margin-top: 3rem;
}
.user-logo {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    transition: transform 0.2s ease;
    margin-right: 3rem;
}
.user-button:hover .user-logo {
    transform: scale(1.1);
}



.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; /* reparte los 3 elementos */
    max-width: 1200px;
    margin: 0 auto;
    gap: 1rem;
}

.post {
    width: calc(33.33% - 1rem); /* para dejar espacio para el gap */
    background-color: white;
    border-radius: 0.5rem;
    padding: 0.25rem 0;
    transition: all 0.3s ease;
}

section article{
    transition: all 0.3s ease;
    background-color: white;
    margin: 1rem 0;
    border-radius: 0.5rem;
    padding: 0.25rem 0;
}

section article h2,  section article p{
    margin: 1rem;
}

section article:hover{
    box-shadow: 0 0.1rem 0.4rem rgba(0, 0, 0, 0.3);
}


footer{
    background-color: #222;
    color:white;
    width:100%;
    padding: 1rem 2rem;
    width:100%;
}

footer section{
    float: right;
}

footer p{
    margin: 0;
}

footer a{
    color: white;
    text-decoration: none;
}

footer a:hover{
    color: blue;
    transition: color 0.3s ease;
}

.post img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 0 0 0.5rem 0.5rem; /* opcional, para que combinen con el borde redondeado del .post */
}

.post .btn {
    display: block;
    margin: 1rem auto; /* centrado horizontal */
    padding: 0.75rem 1.5rem;
    background-color: #364552;
    color: white;
    border: none;
    border-radius: 2rem;
    font-size: 1rem;
    font-family: "Montserrat", sans-serif;
    cursor: pointer;
    box-shadow: 0 0.2rem 0.5rem rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease, transform 0.2s ease;
}