html, body {
    height: 100%;
}

body {
    font-family: "Montserrat", sans-serif;
    background-color: #efefef;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between; /* Para que el footer baje */
}
  
/* HEADER */

header{
    background-color: #364552;
    color:white;
    padding: 1rem 2rem;
    width:100%;
}
header h1{
    font-size: 4rem;
    margin-left: 3rem;
}
.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.user-button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    margin-top: 3rem;
}
.user-logo {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    transition: transform 0.2s ease;
    margin-right: 3rem;
}
.user-button:hover .user-logo {
    transform: scale(1.1);
}

/* FORMULARIO */
.container {
    background: #364552;
    padding: 2rem;
    border-radius: 10px;
    margin-top: 2rem;
    width: 400px;
    transition: all 0.3s ease;
    color:white;

}

.container:hover{
    box-shadow: 0 0.1rem 0.4rem rgba(241, 237, 237, 0.3);
}

h2 {
    text-align: center;
    margin-bottom: 1.5rem;
    color: white;
}

.formulario-iniciosesión-registro {
    width: calc(33.33% - 1rem); /* para dejar espacio para el gap */
    background-color: white;
    border-radius: 0.5rem;
    padding: 0.25rem 0;
    transition: all 0.3s ease;
}


.tabs {
  display: flex;
  margin-bottom: 1rem;
}
.tab {
  flex: 1;
  padding: 0.5rem;
  text-align: center;
  cursor: pointer;
  background: #264653;
  color: #f0f0f0;
  border-radius: 5px 5px 0 0;
}
.tab.active {
  background: #e9c46a;
  color: #264653;
}

form {
  display: none;
  flex-direction: column;
}
form.active {
  display: flex;
}

label {
    margin: 0.5rem 0 0.2rem;
}

input {
    padding: 0.5rem;
    border: none;
    border-radius: 5px;
    margin-bottom: 0.8rem; /* <<< esto añade espacio entre inputs */
}


  .info-text {
    margin-top: 1rem;
    text-align: center;
    font-size: 0.9rem;
  }
  .info-text a {
    color: #e9c46a;
    cursor: pointer;
    text-decoration: none;
  }


/* FOOTER */

footer{
    background-color: #222;
    color:white;
    width:100%;
    padding: 1rem 2rem;
    width:100%;
}

footer section{
    float: right;
}

footer p{
    margin: 0;
}

footer a{
    color: white;
    text-decoration: none;
}

footer a:hover{
    color: blue;
    transition: color 0.3s ease;
}

.post img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 0 0 0.5rem 0.5rem; /* opcional, para que combinen con el borde redondeado del .post */
}


.btn {
    display: block;
    margin: 1rem auto; /* centrado horizontal */
    padding: 0.75rem 1.5rem;
    background-color: #ffffff;
    color: 364552;
    border: none;
    border-radius: 2rem;
    font-size: 1rem;
    font-family: "Montserrat", sans-serif;
    cursor: pointer;
    box-shadow: 0 0.2rem 0.5rem rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease, transform 0.2s ease;
}